@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #222522; }

h1, h3, p, i {
  color: blanchedalmond; }

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #222522;
  background-image: url(../IMAGENES/banner+.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position: center;
  height: 50%; }

.titulo {
  width: 100%;
  font-size: 5.6rem;
  text-decoration: none;
  color: blanchedalmond; }

nav {
  margin-top: 20%; }

.nav_estilos-principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%; }
  .nav_estilos-principal li {
    list-style: none; }
  .nav_estilos-principal a {
    padding: 2rem;
    list-style: none;
    text-decoration: none;
    color: #f3f3f3; }
  .nav_estilos-principal input {
    background-color: rgba(253, 251, 251, 0.205);
    border-radius: 10%; }
    .nav_estilos-principal input::placeholder {
      color: #f3f3f3; }

.zoom {
  transition: transform .2s; }
  .zoom :hover {
    transform: scale(1.15); }

.formulario__letras {
  padding: 1rem;
  color: blanchedalmond; }

.formulario_letras-terminos {
  color: blanchedalmond; }

.paddingPublicaciones {
  padding: 5rem; }

.margenesPublicaciones {
  margin-bottom: 4rem;
  display: flex; }
  .margenesPublicaciones div {
    padding-left: 3rem; }
  .margenesPublicaciones img {
    display: inline-block;
    width: 30rem;
    height: 20rem; }

label, legend {
  color: blanchedalmond; }

input {
  padding: 1rem; }

footer {
  background-image: linear-gradient(to right top, #000000, #0e0c0c, #171614, #1d1d1a, #222522);
  font-weight: 900; }

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem; }

.ubicacion {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem; }

.infoFooter {
  display: grid;
  grid-template-columns: 3rem 3rem;
  grid-gap: 1px;
  padding: 1px; }

@media (min-width: 320px) {
  .titulo {
    font-size: 4.1rem; } }
